<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moodle.db.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.moodle.db.entity.User">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="AUTH" jdbcType="OTHER" property="auth" />
    <result column="CONFIRMED" jdbcType="DECIMAL" property="confirmed" />
    <result column="POLICY_AGREED" jdbcType="DECIMAL" property="policyAgreed" />
    <result column="DELETED" jdbcType="DECIMAL" property="deleted" />
    <result column="SUSPENDED" jdbcType="DECIMAL" property="suspended" />
    <result column="MNET_HOST_ID" jdbcType="DECIMAL" property="mnetHostId" />
    <result column="USER_NAME" jdbcType="OTHER" property="userName" />
    <result column="PASSWORD" jdbcType="OTHER" property="password" />
    <result column="ID_NUMBER" jdbcType="OTHER" property="idNumber" />
    <result column="FIRST_NAME" jdbcType="OTHER" property="firstName" />
    <result column="LAST_NAME" jdbcType="OTHER" property="lastName" />
    <result column="EMAIL" jdbcType="OTHER" property="email" />
    <result column="EMAIL_STOP" jdbcType="DECIMAL" property="emailStop" />
    <result column="ICQ" jdbcType="OTHER" property="icq" />
    <result column="SKYPE" jdbcType="OTHER" property="skype" />
    <result column="YAHOO" jdbcType="OTHER" property="yahoo" />
    <result column="AIM" jdbcType="OTHER" property="aim" />
    <result column="MSN" jdbcType="OTHER" property="msn" />
    <result column="PHONE1" jdbcType="OTHER" property="phone1" />
    <result column="PHONE2" jdbcType="OTHER" property="phone2" />
    <result column="INSTITUTION" jdbcType="OTHER" property="institution" />
    <result column="DEPARTMENT" jdbcType="OTHER" property="department" />
    <result column="ADDRESS" jdbcType="OTHER" property="address" />
    <result column="CITY" jdbcType="OTHER" property="city" />
    <result column="COUNTRY" jdbcType="OTHER" property="country" />
    <result column="LANG" jdbcType="OTHER" property="lang" />
    <result column="THEME" jdbcType="OTHER" property="theme" />
    <result column="TIME_ZONE" jdbcType="OTHER" property="timeZone" />
    <result column="FIRST_ACCESS" jdbcType="DECIMAL" property="firstAccess" />
    <result column="LAST_ACCESS" jdbcType="DECIMAL" property="lastAccess" />
    <result column="LAST_LOGIN" jdbcType="DECIMAL" property="lastLogin" />
    <result column="CURRENT_LOGIN" jdbcType="DECIMAL" property="currentLogin" />
    <result column="LAST_IP" jdbcType="OTHER" property="lastIp" />
    <result column="SECRET" jdbcType="OTHER" property="secret" />
    <result column="PICTURE" jdbcType="DECIMAL" property="picture" />
    <result column="URL" jdbcType="OTHER" property="url" />
    <result column="DESCRIPTION" jdbcType="OTHER" property="description" />
    <result column="DESCRIPTION_FORMAT" jdbcType="DECIMAL" property="descriptionFormat" />
    <result column="MAIL_FORMAT" jdbcType="DECIMAL" property="mailFormat" />
    <result column="MAIL_DIGEST" jdbcType="DECIMAL" property="mailDigest" />
    <result column="MAIL_DISPLAY" jdbcType="DECIMAL" property="mailDisplay" />
    <result column="HTML_EDITOR" jdbcType="DECIMAL" property="htmlEditor" />
    <result column="AUTO_SUBSCRIBE" jdbcType="DECIMAL" property="autoSubscribe" />
    <result column="TRACK_FORUMS" jdbcType="DECIMAL" property="trackForums" />
    <result column="TIME_CREATED" jdbcType="DECIMAL" property="timeCreated" />
    <result column="TIME_MODIFIED" jdbcType="DECIMAL" property="timeModified" />
    <result column="TRUST_BITMASK" jdbcType="DECIMAL" property="trustBitmask" />
    <result column="IMAGE_ALT" jdbcType="OTHER" property="imageAlt" />
    <result column="SCREEN_READER" jdbcType="DECIMAL" property="screenReader" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, AUTH, CONFIRMED, POLICY_AGREED, DELETED, SUSPENDED, MNET_HOST_ID, USER_NAME, 
    PASSWORD, ID_NUMBER, FIRST_NAME, LAST_NAME, EMAIL, EMAIL_STOP, ICQ, SKYPE, YAHOO, 
    AIM, MSN, PHONE1, PHONE2, INSTITUTION, DEPARTMENT, ADDRESS, CITY, COUNTRY, LANG, 
    THEME, TIME_ZONE, FIRST_ACCESS, LAST_ACCESS, LAST_LOGIN, CURRENT_LOGIN, LAST_IP, 
    SECRET, PICTURE, URL, DESCRIPTION, DESCRIPTION_FORMAT, MAIL_FORMAT, MAIL_DIGEST, 
    MAIL_DISPLAY, HTML_EDITOR, AUTO_SUBSCRIBE, TRACK_FORUMS, TIME_CREATED, TIME_MODIFIED, 
    TRUST_BITMASK, IMAGE_ALT, SCREEN_READER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MDL_USER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from MDL_USER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.moodle.db.entity.User">
    insert into MDL_USER (ID, AUTH, CONFIRMED, 
      POLICY_AGREED, DELETED, SUSPENDED, 
      MNET_HOST_ID, USER_NAME, PASSWORD, 
      ID_NUMBER, FIRST_NAME, LAST_NAME, 
      EMAIL, EMAIL_STOP, ICQ, 
      SKYPE, YAHOO, AIM, MSN, 
      PHONE1, PHONE2, INSTITUTION, 
      DEPARTMENT, ADDRESS, CITY, 
      COUNTRY, LANG, THEME, TIME_ZONE, 
      FIRST_ACCESS, LAST_ACCESS, LAST_LOGIN, 
      CURRENT_LOGIN, LAST_IP, SECRET, 
      PICTURE, URL, DESCRIPTION, 
      DESCRIPTION_FORMAT, MAIL_FORMAT, MAIL_DIGEST, 
      MAIL_DISPLAY, HTML_EDITOR, AUTO_SUBSCRIBE, 
      TRACK_FORUMS, TIME_CREATED, TIME_MODIFIED, 
      TRUST_BITMASK, IMAGE_ALT, SCREEN_READER
      )
    values (#{id,jdbcType=DECIMAL}, #{auth,jdbcType=OTHER}, #{confirmed,jdbcType=DECIMAL}, 
      #{policyAgreed,jdbcType=DECIMAL}, #{deleted,jdbcType=DECIMAL}, #{suspended,jdbcType=DECIMAL}, 
      #{mnetHostId,jdbcType=DECIMAL}, #{userName,jdbcType=OTHER}, #{password,jdbcType=OTHER}, 
      #{idNumber,jdbcType=OTHER}, #{firstName,jdbcType=OTHER}, #{lastName,jdbcType=OTHER}, 
      #{email,jdbcType=OTHER}, #{emailStop,jdbcType=DECIMAL}, #{icq,jdbcType=OTHER}, 
      #{skype,jdbcType=OTHER}, #{yahoo,jdbcType=OTHER}, #{aim,jdbcType=OTHER}, #{msn,jdbcType=OTHER}, 
      #{phone1,jdbcType=OTHER}, #{phone2,jdbcType=OTHER}, #{institution,jdbcType=OTHER}, 
      #{department,jdbcType=OTHER}, #{address,jdbcType=OTHER}, #{city,jdbcType=OTHER}, 
      #{country,jdbcType=OTHER}, #{lang,jdbcType=OTHER}, #{theme,jdbcType=OTHER}, #{timeZone,jdbcType=OTHER}, 
      #{firstAccess,jdbcType=DECIMAL}, #{lastAccess,jdbcType=DECIMAL}, #{lastLogin,jdbcType=DECIMAL}, 
      #{currentLogin,jdbcType=DECIMAL}, #{lastIp,jdbcType=OTHER}, #{secret,jdbcType=OTHER}, 
      #{picture,jdbcType=DECIMAL}, #{url,jdbcType=OTHER}, #{description,jdbcType=OTHER}, 
      #{descriptionFormat,jdbcType=DECIMAL}, #{mailFormat,jdbcType=DECIMAL}, #{mailDigest,jdbcType=DECIMAL}, 
      #{mailDisplay,jdbcType=DECIMAL}, #{htmlEditor,jdbcType=DECIMAL}, #{autoSubscribe,jdbcType=DECIMAL}, 
      #{trackForums,jdbcType=DECIMAL}, #{timeCreated,jdbcType=DECIMAL}, #{timeModified,jdbcType=DECIMAL}, 
      #{trustBitmask,jdbcType=DECIMAL}, #{imageAlt,jdbcType=OTHER}, #{screenReader,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.moodle.db.entity.User">
    insert into MDL_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="auth != null">
        AUTH,
      </if>
      <if test="confirmed != null">
        CONFIRMED,
      </if>
      <if test="policyAgreed != null">
        POLICY_AGREED,
      </if>
      <if test="deleted != null">
        DELETED,
      </if>
      <if test="suspended != null">
        SUSPENDED,
      </if>
      <if test="mnetHostId != null">
        MNET_HOST_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="idNumber != null">
        ID_NUMBER,
      </if>
      <if test="firstName != null">
        FIRST_NAME,
      </if>
      <if test="lastName != null">
        LAST_NAME,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="emailStop != null">
        EMAIL_STOP,
      </if>
      <if test="icq != null">
        ICQ,
      </if>
      <if test="skype != null">
        SKYPE,
      </if>
      <if test="yahoo != null">
        YAHOO,
      </if>
      <if test="aim != null">
        AIM,
      </if>
      <if test="msn != null">
        MSN,
      </if>
      <if test="phone1 != null">
        PHONE1,
      </if>
      <if test="phone2 != null">
        PHONE2,
      </if>
      <if test="institution != null">
        INSTITUTION,
      </if>
      <if test="department != null">
        DEPARTMENT,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="city != null">
        CITY,
      </if>
      <if test="country != null">
        COUNTRY,
      </if>
      <if test="lang != null">
        LANG,
      </if>
      <if test="theme != null">
        THEME,
      </if>
      <if test="timeZone != null">
        TIME_ZONE,
      </if>
      <if test="firstAccess != null">
        FIRST_ACCESS,
      </if>
      <if test="lastAccess != null">
        LAST_ACCESS,
      </if>
      <if test="lastLogin != null">
        LAST_LOGIN,
      </if>
      <if test="currentLogin != null">
        CURRENT_LOGIN,
      </if>
      <if test="lastIp != null">
        LAST_IP,
      </if>
      <if test="secret != null">
        SECRET,
      </if>
      <if test="picture != null">
        PICTURE,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="descriptionFormat != null">
        DESCRIPTION_FORMAT,
      </if>
      <if test="mailFormat != null">
        MAIL_FORMAT,
      </if>
      <if test="mailDigest != null">
        MAIL_DIGEST,
      </if>
      <if test="mailDisplay != null">
        MAIL_DISPLAY,
      </if>
      <if test="htmlEditor != null">
        HTML_EDITOR,
      </if>
      <if test="autoSubscribe != null">
        AUTO_SUBSCRIBE,
      </if>
      <if test="trackForums != null">
        TRACK_FORUMS,
      </if>
      <if test="timeCreated != null">
        TIME_CREATED,
      </if>
      <if test="timeModified != null">
        TIME_MODIFIED,
      </if>
      <if test="trustBitmask != null">
        TRUST_BITMASK,
      </if>
      <if test="imageAlt != null">
        IMAGE_ALT,
      </if>
      <if test="screenReader != null">
        SCREEN_READER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="auth != null">
        #{auth,jdbcType=OTHER},
      </if>
      <if test="confirmed != null">
        #{confirmed,jdbcType=DECIMAL},
      </if>
      <if test="policyAgreed != null">
        #{policyAgreed,jdbcType=DECIMAL},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=DECIMAL},
      </if>
      <if test="suspended != null">
        #{suspended,jdbcType=DECIMAL},
      </if>
      <if test="mnetHostId != null">
        #{mnetHostId,jdbcType=DECIMAL},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=OTHER},
      </if>
      <if test="password != null">
        #{password,jdbcType=OTHER},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=OTHER},
      </if>
      <if test="firstName != null">
        #{firstName,jdbcType=OTHER},
      </if>
      <if test="lastName != null">
        #{lastName,jdbcType=OTHER},
      </if>
      <if test="email != null">
        #{email,jdbcType=OTHER},
      </if>
      <if test="emailStop != null">
        #{emailStop,jdbcType=DECIMAL},
      </if>
      <if test="icq != null">
        #{icq,jdbcType=OTHER},
      </if>
      <if test="skype != null">
        #{skype,jdbcType=OTHER},
      </if>
      <if test="yahoo != null">
        #{yahoo,jdbcType=OTHER},
      </if>
      <if test="aim != null">
        #{aim,jdbcType=OTHER},
      </if>
      <if test="msn != null">
        #{msn,jdbcType=OTHER},
      </if>
      <if test="phone1 != null">
        #{phone1,jdbcType=OTHER},
      </if>
      <if test="phone2 != null">
        #{phone2,jdbcType=OTHER},
      </if>
      <if test="institution != null">
        #{institution,jdbcType=OTHER},
      </if>
      <if test="department != null">
        #{department,jdbcType=OTHER},
      </if>
      <if test="address != null">
        #{address,jdbcType=OTHER},
      </if>
      <if test="city != null">
        #{city,jdbcType=OTHER},
      </if>
      <if test="country != null">
        #{country,jdbcType=OTHER},
      </if>
      <if test="lang != null">
        #{lang,jdbcType=OTHER},
      </if>
      <if test="theme != null">
        #{theme,jdbcType=OTHER},
      </if>
      <if test="timeZone != null">
        #{timeZone,jdbcType=OTHER},
      </if>
      <if test="firstAccess != null">
        #{firstAccess,jdbcType=DECIMAL},
      </if>
      <if test="lastAccess != null">
        #{lastAccess,jdbcType=DECIMAL},
      </if>
      <if test="lastLogin != null">
        #{lastLogin,jdbcType=DECIMAL},
      </if>
      <if test="currentLogin != null">
        #{currentLogin,jdbcType=DECIMAL},
      </if>
      <if test="lastIp != null">
        #{lastIp,jdbcType=OTHER},
      </if>
      <if test="secret != null">
        #{secret,jdbcType=OTHER},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=DECIMAL},
      </if>
      <if test="url != null">
        #{url,jdbcType=OTHER},
      </if>
      <if test="description != null">
        #{description,jdbcType=OTHER},
      </if>
      <if test="descriptionFormat != null">
        #{descriptionFormat,jdbcType=DECIMAL},
      </if>
      <if test="mailFormat != null">
        #{mailFormat,jdbcType=DECIMAL},
      </if>
      <if test="mailDigest != null">
        #{mailDigest,jdbcType=DECIMAL},
      </if>
      <if test="mailDisplay != null">
        #{mailDisplay,jdbcType=DECIMAL},
      </if>
      <if test="htmlEditor != null">
        #{htmlEditor,jdbcType=DECIMAL},
      </if>
      <if test="autoSubscribe != null">
        #{autoSubscribe,jdbcType=DECIMAL},
      </if>
      <if test="trackForums != null">
        #{trackForums,jdbcType=DECIMAL},
      </if>
      <if test="timeCreated != null">
        #{timeCreated,jdbcType=DECIMAL},
      </if>
      <if test="timeModified != null">
        #{timeModified,jdbcType=DECIMAL},
      </if>
      <if test="trustBitmask != null">
        #{trustBitmask,jdbcType=DECIMAL},
      </if>
      <if test="imageAlt != null">
        #{imageAlt,jdbcType=OTHER},
      </if>
      <if test="screenReader != null">
        #{screenReader,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.moodle.db.entity.User">
    update MDL_USER
    <set>
      <if test="auth != null">
        AUTH = #{auth,jdbcType=OTHER},
      </if>
      <if test="confirmed != null">
        CONFIRMED = #{confirmed,jdbcType=DECIMAL},
      </if>
      <if test="policyAgreed != null">
        POLICY_AGREED = #{policyAgreed,jdbcType=DECIMAL},
      </if>
      <if test="deleted != null">
        DELETED = #{deleted,jdbcType=DECIMAL},
      </if>
      <if test="suspended != null">
        SUSPENDED = #{suspended,jdbcType=DECIMAL},
      </if>
      <if test="mnetHostId != null">
        MNET_HOST_ID = #{mnetHostId,jdbcType=DECIMAL},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=OTHER},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=OTHER},
      </if>
      <if test="idNumber != null">
        ID_NUMBER = #{idNumber,jdbcType=OTHER},
      </if>
      <if test="firstName != null">
        FIRST_NAME = #{firstName,jdbcType=OTHER},
      </if>
      <if test="lastName != null">
        LAST_NAME = #{lastName,jdbcType=OTHER},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=OTHER},
      </if>
      <if test="emailStop != null">
        EMAIL_STOP = #{emailStop,jdbcType=DECIMAL},
      </if>
      <if test="icq != null">
        ICQ = #{icq,jdbcType=OTHER},
      </if>
      <if test="skype != null">
        SKYPE = #{skype,jdbcType=OTHER},
      </if>
      <if test="yahoo != null">
        YAHOO = #{yahoo,jdbcType=OTHER},
      </if>
      <if test="aim != null">
        AIM = #{aim,jdbcType=OTHER},
      </if>
      <if test="msn != null">
        MSN = #{msn,jdbcType=OTHER},
      </if>
      <if test="phone1 != null">
        PHONE1 = #{phone1,jdbcType=OTHER},
      </if>
      <if test="phone2 != null">
        PHONE2 = #{phone2,jdbcType=OTHER},
      </if>
      <if test="institution != null">
        INSTITUTION = #{institution,jdbcType=OTHER},
      </if>
      <if test="department != null">
        DEPARTMENT = #{department,jdbcType=OTHER},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=OTHER},
      </if>
      <if test="city != null">
        CITY = #{city,jdbcType=OTHER},
      </if>
      <if test="country != null">
        COUNTRY = #{country,jdbcType=OTHER},
      </if>
      <if test="lang != null">
        LANG = #{lang,jdbcType=OTHER},
      </if>
      <if test="theme != null">
        THEME = #{theme,jdbcType=OTHER},
      </if>
      <if test="timeZone != null">
        TIME_ZONE = #{timeZone,jdbcType=OTHER},
      </if>
      <if test="firstAccess != null">
        FIRST_ACCESS = #{firstAccess,jdbcType=DECIMAL},
      </if>
      <if test="lastAccess != null">
        LAST_ACCESS = #{lastAccess,jdbcType=DECIMAL},
      </if>
      <if test="lastLogin != null">
        LAST_LOGIN = #{lastLogin,jdbcType=DECIMAL},
      </if>
      <if test="currentLogin != null">
        CURRENT_LOGIN = #{currentLogin,jdbcType=DECIMAL},
      </if>
      <if test="lastIp != null">
        LAST_IP = #{lastIp,jdbcType=OTHER},
      </if>
      <if test="secret != null">
        SECRET = #{secret,jdbcType=OTHER},
      </if>
      <if test="picture != null">
        PICTURE = #{picture,jdbcType=DECIMAL},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=OTHER},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=OTHER},
      </if>
      <if test="descriptionFormat != null">
        DESCRIPTION_FORMAT = #{descriptionFormat,jdbcType=DECIMAL},
      </if>
      <if test="mailFormat != null">
        MAIL_FORMAT = #{mailFormat,jdbcType=DECIMAL},
      </if>
      <if test="mailDigest != null">
        MAIL_DIGEST = #{mailDigest,jdbcType=DECIMAL},
      </if>
      <if test="mailDisplay != null">
        MAIL_DISPLAY = #{mailDisplay,jdbcType=DECIMAL},
      </if>
      <if test="htmlEditor != null">
        HTML_EDITOR = #{htmlEditor,jdbcType=DECIMAL},
      </if>
      <if test="autoSubscribe != null">
        AUTO_SUBSCRIBE = #{autoSubscribe,jdbcType=DECIMAL},
      </if>
      <if test="trackForums != null">
        TRACK_FORUMS = #{trackForums,jdbcType=DECIMAL},
      </if>
      <if test="timeCreated != null">
        TIME_CREATED = #{timeCreated,jdbcType=DECIMAL},
      </if>
      <if test="timeModified != null">
        TIME_MODIFIED = #{timeModified,jdbcType=DECIMAL},
      </if>
      <if test="trustBitmask != null">
        TRUST_BITMASK = #{trustBitmask,jdbcType=DECIMAL},
      </if>
      <if test="imageAlt != null">
        IMAGE_ALT = #{imageAlt,jdbcType=OTHER},
      </if>
      <if test="screenReader != null">
        SCREEN_READER = #{screenReader,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moodle.db.entity.User">
    update MDL_USER
    set AUTH = #{auth,jdbcType=OTHER},
      CONFIRMED = #{confirmed,jdbcType=DECIMAL},
      POLICY_AGREED = #{policyAgreed,jdbcType=DECIMAL},
      DELETED = #{deleted,jdbcType=DECIMAL},
      SUSPENDED = #{suspended,jdbcType=DECIMAL},
      MNET_HOST_ID = #{mnetHostId,jdbcType=DECIMAL},
      USER_NAME = #{userName,jdbcType=OTHER},
      PASSWORD = #{password,jdbcType=OTHER},
      ID_NUMBER = #{idNumber,jdbcType=OTHER},
      FIRST_NAME = #{firstName,jdbcType=OTHER},
      LAST_NAME = #{lastName,jdbcType=OTHER},
      EMAIL = #{email,jdbcType=OTHER},
      EMAIL_STOP = #{emailStop,jdbcType=DECIMAL},
      ICQ = #{icq,jdbcType=OTHER},
      SKYPE = #{skype,jdbcType=OTHER},
      YAHOO = #{yahoo,jdbcType=OTHER},
      AIM = #{aim,jdbcType=OTHER},
      MSN = #{msn,jdbcType=OTHER},
      PHONE1 = #{phone1,jdbcType=OTHER},
      PHONE2 = #{phone2,jdbcType=OTHER},
      INSTITUTION = #{institution,jdbcType=OTHER},
      DEPARTMENT = #{department,jdbcType=OTHER},
      ADDRESS = #{address,jdbcType=OTHER},
      CITY = #{city,jdbcType=OTHER},
      COUNTRY = #{country,jdbcType=OTHER},
      LANG = #{lang,jdbcType=OTHER},
      THEME = #{theme,jdbcType=OTHER},
      TIME_ZONE = #{timeZone,jdbcType=OTHER},
      FIRST_ACCESS = #{firstAccess,jdbcType=DECIMAL},
      LAST_ACCESS = #{lastAccess,jdbcType=DECIMAL},
      LAST_LOGIN = #{lastLogin,jdbcType=DECIMAL},
      CURRENT_LOGIN = #{currentLogin,jdbcType=DECIMAL},
      LAST_IP = #{lastIp,jdbcType=OTHER},
      SECRET = #{secret,jdbcType=OTHER},
      PICTURE = #{picture,jdbcType=DECIMAL},
      URL = #{url,jdbcType=OTHER},
      DESCRIPTION = #{description,jdbcType=OTHER},
      DESCRIPTION_FORMAT = #{descriptionFormat,jdbcType=DECIMAL},
      MAIL_FORMAT = #{mailFormat,jdbcType=DECIMAL},
      MAIL_DIGEST = #{mailDigest,jdbcType=DECIMAL},
      MAIL_DISPLAY = #{mailDisplay,jdbcType=DECIMAL},
      HTML_EDITOR = #{htmlEditor,jdbcType=DECIMAL},
      AUTO_SUBSCRIBE = #{autoSubscribe,jdbcType=DECIMAL},
      TRACK_FORUMS = #{trackForums,jdbcType=DECIMAL},
      TIME_CREATED = #{timeCreated,jdbcType=DECIMAL},
      TIME_MODIFIED = #{timeModified,jdbcType=DECIMAL},
      TRUST_BITMASK = #{trustBitmask,jdbcType=DECIMAL},
      IMAGE_ALT = #{imageAlt,jdbcType=OTHER},
      SCREEN_READER = #{screenReader,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  
  <select id="selectByUserName" parameterType="User" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MDL_USER
    where user_name = #{userName}
  </select>
</mapper>